body {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 0;
}

#container {
    display: block;
    width: 1920px;
    height: 1080px;
    padding: 0;
    margin: 0;
}

.latestblock,
.latestblock img {
    max-width: 112px;
    max-height: 112px;
    min-width: 28px;
    min-height: 28px;
    position: absolute;
}
.latestblock img {
    display: none;
}