body {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 0;
}

#container {
    display: block;
    width: 1920px;
    height: 1080px;
    padding: 0;
    margin: 0;
}

.latestblock,
.latestblock img {
    max-width: 112px;
    max-height: 112px;
    min-width: 28px;
    min-height: 28px;
    position: absolute;
}
.latestblock img {
    display: none;
}

/* Effects */
.latestblock img.grow {
    animation: grow 3s;
}

.latestblock img.shrink {
    animation: shrink 3s;
}

.latestblock img.rotate {
    animation: rotate 6s alternate ease-in-out infinite;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes shrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}