body {
    overflow: hidden;
    background: transparent;
    padding: 0;
    margin: 0;
}

#container {
    display: block;
    width: 1920px;
    height: 1080px;
    padding: 0;
    margin: 0;
}

.latestblock,
.latestblock img {
    width: 100px;
    height: 100px;
    min-width: 50px;
    min-height: 50px;
    position: absolute;
}
.latestblock img {
    display: none;
}